RewriteEngine On 
RewriteBase /

RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://bendodson.com/$1 [R,L]

RewriteCond %{HTTP_HOST} ^www.bendodson.com [NC]
RewriteRule ^(.*)$ https://bendodson.com/$1 [L,R=301]